<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/ahmedusman/Documents/03_TestNGPractice/PracticeTestNG"><classes><class name="DemoTestNG.AssertionsTest"><methods><include name="testRadioButtons"/></methods></class><class name="DemoTestNG.ConfigurationAnnotations_1_DatePickers"><methods><include name="test1_BootstrapDatePicker"/><include name="test2_JQueryDatePicker"/></methods></class><class name="DemoTestNG.First_Automated_Test"><methods><include name="testTableSortAndSearch"/><include name="testBootstrapDatePicker"/></methods></class><class name="DemoTestNG.PracticeJava"><methods><include name="AwainMethod"/></methods></class></classes></test></suite>